@model HistClinica.Models.Paciente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idtpPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idtpPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idAsegurado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idAsegurado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrohc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrohc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomAcompana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomAcompana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edadAcompana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edadAcompana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dniAcompana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dniAcompana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idgpoSangre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idgpoSangre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idFactorrh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idFactorrh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPacConvenio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPacConvenio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idPaciente" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
