
@model List<HistClinica.DTO.CitaDTO>

@{
	ViewBag.Title = "ProgramarCitaAdmision";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="card card-primary">
					<div class="card-header">
						<h1>Listado de citas</h1>
					</div>
				</div>

			</div>
		</div>
		@*
		<div class="row" style="padding-top:20px;">
			<div class="col-sm-12 pb-3">
				<span style="font-size: 18px;">Buscar por:</span>
				<div class="pl-3 form-check form-check-inline">
					<input class="form-check-input" type="radio" checked name="radiofiltro" id="inlineRadio1" value="1">
					<label class="form-check-label" for="inlineRadio1">Por Dni</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="radiofiltro" id="inlineRadio2" value="2">
					<label class="form-check-label" for="inlineRadio2">Por Nombre y apellido</label>
				</div>
			</div>
			<div class="col-sm-12">
				@using (Html.BeginForm())
				{
				<div class="row">
					<div class="col-sm-2">
						<select class="form-control">
							<option value="value">DNI</option>
						</select>
					</div>
					<div class="col-sm-2">
						<input type="text" id="dni" name="dni" class="form-control" />
					</div>
					<div class="col-sm-2">
						<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese nombre" />
					</div>
					<div class="col-sm-2">
						<input type="text" id="apellidos" name="apellidos" class="form-control" placeholder="Ingrese apellidos" />
					</div>
						<div class="col-sm-4">
			<button class="btn btn-info" type="submit" id="btnBuscar"><i class="fas fa-search"></i></button>
			<a class="btn btn-primary" type="submit" asp-action="Create" asp-controller="Paciente"><i class="fas fa-user-plus"></i></a>
			<button class="btn btn-secondary" type="submit" onclick="return getbyID();"><i class="fas fa-edit"></i></button>
		</div>
				</div>
				}
			</div>
		</div>
		*@
		@if (ViewBag.message != null)
		{
			<div class="col-sm-12 alert alert-info alert-dismissible text-center" role="alert" style="margin-top: 15px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
				@ViewBag.message
			</div>
		}
		<div class="row" style="padding-top: 80px;">
			<div class="col-sm-12">
				<table class="table table-bordered table-responsive table-hover" style="font-size:14px;" id="citamedicogrid">
					<thead>
						<tr>
							<th>#</th>
							<th>N°</th>
							<th>Tipo</th>
							<th>Paciente</th>
							<th>Fecha</th>
							<th>Hora</th>
							<th>Producto</th>
							<th>Descripción</th>
							<th>Medico</th>
							<th>Especialidad</th>
							<th>Estado</th>
							<th>Est.Pago</th>
							<th>Total</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
								{
						<tr>
							<td>@item.idCita</td>
							<td>@item.nroCita</td>
							<td>@item.TipoCita</td>
							<td nowrap>@item.nombrePaciente</td>
							<td nowrap>@item.fecha</td>
							<td>@item.hora</td>
							<td>@item.consultorio</td>
							<td>@item.descripcion</td>
							<td nowrap>@item.medico</td>
							<td>@item.especialidad </td>
							<td>@item.descEstado</td>
							<td>@item.descEstadoPago</td>
							<td>@item.precio</td>
							<td>
								<button title="Editar" class="edit btn btn-primary"><i class="fas fa-address-book"></i></button>
							</td>
						</tr>
								}
					</tbody>
				</table>
			</div>
		</div>
	</div>



<div id="modalcambiarestado" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
</div>

<script src="~/js/cargavistaparcial.js"></script>

