@model HistClinica.DTO.PersonaDTO
@{ ViewData["Title"] = "Create"; }


<div class="col-sm-12" id="formpaciente">
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="col-sm-12 text-center pt-2 pb-4">
			<div class="card card-primary">
				<div class="card-header">
					<h1>Datos del paciente</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-5">
										<label>*Tipo de paciente</label>
									</div>
									<div class="col-sm-7">
										@Html.HiddenFor(m => m.paciente.idPaciente)
										@Html.HiddenFor(m => m.idPersona)
										@Html.DropDownListFor(m => m.paciente.idTipoPaciente, new SelectList(ViewBag.ltippac, "idtab", "descripcion"), "Seleccione", new { @class = "form-control", @id = "cbotppac" })
										@Html.ValidationMessageFor(m => m.paciente.idTipoPaciente, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">

						</div>
						<div class="col-sm-4">

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="row pb-2">
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="apepatpac">*Apellido paterno</label>
								</div>
								<div class="col-sm-8">
									@Html.EditorFor(m => m.apellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(m => m.apellidoPaterno, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="apematpac">*Apellido Materno</label>
								</div>
								<div class="col-sm-8">
									@Html.EditorFor(m => m.apellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(m => m.apellidoMaterno, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="firstname">*Primer nombre</label>
								</div>
								<div class="col-sm-8">
									@Html.EditorFor(m => m.nombres, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(m => m.nombres, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
					</div>
					<div class="row pb-2">
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="cbosexo">*Sexo</label>
								</div>
								<div class="col-sm-8">
									@Html.DropDownListFor(m => m.idSexo, new SelectList(ViewBag.lssexo, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.idSexo, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="fechdate">*Fecha de nacimiento</label>
								</div>
								<div class="col-sm-8">
									@Html.EditorFor(m => m.fecNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
									@Html.ValidationMessageFor(m => m.fecNacimiento, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="edadpac">*Edad</label>
								</div>
								<div class="col-sm-8">
									@Html.EditorFor(m => m.edad, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(m => m.edad, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="cboocupacion">*Ocupación</label>
								</div>
								<div class="col-sm-8">
									@Html.DropDownListFor(m => m.idOcupacion, new SelectList(ViewBag.locupacion, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.idOcupacion, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
					</div>
					<div class="row pb-2">
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="cbogrdinstruccion">*Grado de instruccion</label>
								</div>
								<div class="col-sm-8">
									@Html.DropDownListFor(m => m.idGrdInstruc, new SelectList(ViewBag.lgrdinst, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.idGrdInstruc, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="estcivil">*Estado civil</label>
								</div>
								<div class="col-sm-8">
									@Html.DropDownListFor(m => m.idEstCivil, new SelectList(ViewBag.lestcivil, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.idEstCivil, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="emailpac">*Email</label>
								</div>
								<div class="col-sm-8">
									@Html.EditorFor(m => m.correo, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(m => m.correo, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="celularpac">*Celular</label>
								</div>
								<div class="col-sm-8">
									@Html.EditorFor(m => m.celular, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(m => m.celular, "", new { @class = "text-danger" })

								</div>
							</div>
						</div>
					</div>
					<div class="row pb-3">
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="cbodoc">*Tipo de Doc</label>
								</div>
								<div class="col-sm-8">
									@Html.DropDownListFor(m => m.idTipoDocumento, new SelectList(ViewBag.ltipdoc, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.idTipoDocumento, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="nrodoc">*Nro. Doc.</label>
								</div>
								<div class="col-sm-8">
									@Html.EditorFor(m => m.numeroDocumento, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(m => m.numeroDocumento, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row">
								<div class="col-sm-4">
									<label for="cboparentesco">*Parentesco</label>
								</div>
								<div class="col-sm-8">
									@Html.DropDownListFor(m => m.paciente.idParentescoPaciente, new SelectList(ViewBag.lparentesco, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.paciente.idParentescoPaciente, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="row" id="divpacconv" style="display:none;">
								<div class="col-sm-4">
									<label for="factor_rh">*Factor RH</label>
								</div>
								<div class="col-sm-8">
									@Html.DropDownListFor(m => m.paciente.idFactorRrh, new SelectList(ViewBag.lfh, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.paciente.idFactorRrh, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
					</div>
					<div class="row pb-2">
						<div class="col-sm-3">
							<div class="row" id="divpaccomp" style="display:none;">
								<div class="col-sm-4">
									<label for="cbogruposanguineo">*Grupo sanguineo</label>
								</div>
								<div class="col-sm-8">
									@Html.DropDownListFor(m => m.paciente.idGrupoSanguineo, new SelectList(ViewBag.lgpsangre, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.paciente.idGrupoSanguineo, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-3">

						</div>
						<div class="col-sm-3">

						</div>
						<div class="col-sm-3">

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
				<div class="card card-primary">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 card-title">
								<h4>Ubicación</h4>
							</div>
							<div class="col-sm-6 text-right">
								<i style="font-size: 30px;" class="fas fa-plus fx-5"></i>
							</div>
						</div>
					</div>
				</div>
			</a>
			<div class="card">
				<div class="collapse multi-collapse" id="multiCollapseExample1">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="departamentopac">Departamento</label>
									</div>
									<div class="col-sm-8">
										<select id="departamentopac" class="custom-select">
											<option value="value">text</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="provinciapac">Provincia</label>
									</div>
									<div class="col-sm-8">
										<select id="provinciapac" class="custom-select">
											<option value="value">text</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="tipvia">Tipo de vía</label>
									</div>
									<div class="col-sm-8">
										@Html.DropDownListFor(m => m.paciente.idTipoViaUbicacion, new SelectList(ViewBag.ltipovia, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="nomvia">Nombre de via</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.nombreViaUbicacion, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="nro">N°</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.numeroUbicacion, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="nrodpto">DPTO N°</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.numeroDepartamentoUbicacion, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="nroInterior">Interior</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.interiorUbicacion, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="nrolote">N° de lote</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.numeroLoteUbicacion, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<a data-toggle="collapse" href="#collapsedatosnac" role="button" aria-expanded="false" aria-controls="collapsedatosnac">
				<div class="card card-primary">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 card-title">
								<h4>Datos nacimiento</h4>
							</div>
							<div class="col-sm-6 text-right">
								<i style="font-size: 30px;" class="fas fa-plus fx-5"></i>
							</div>
						</div>
					</div>
				</div>
			</a>
			<div class="card">
				<div class="collapse multi-collapse" id="collapsedatosnac">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="paisnac">Pais origen</label>
									</div>
									<div class="col-sm-8">
										<select id="paisnac" class="form-control">
											<option value="value">Peru</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="dptonac">Departamento</label>
									</div>
									<div class="col-sm-8">
										<select id="dptonac" class="form-control">
											<option value="value">Peru</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="provinnac">Provincia</label>
									</div>
									<div class="col-sm-8">
										<select id="provinnac" class="form-control">
											<option value="value">Peru</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="cbodistritonac">Distrito</label>
									</div>
									<div class="col-sm-8">
										<select id="cbodistritonac" class="form-control">
											<option value="value">Peru</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12" id="divpacotros" style="display: none;">
			<a data-toggle="collapse" href="#collapseotroscompañia" role="button" aria-expanded="false" aria-controls="collapseotroscompañia">
				<div class="card card-primary">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 card-title">
								<h4>Otros</h4>
							</div>
							<div class="col-sm-6 text-right">
								<i style="font-size: 30px;" class="fas fa-plus fx-5"></i>
							</div>
						</div>
					</div>
				</div>
			</a>
			<div class="card">
				<div class="collapse multi-collapse" id="collapseotroscompañia">
					<div id="actcompañia" class="card-body" style="display:none;">
						<div class="row pb-2">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="cobertura">Cobertura</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.coberturaCompañia, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="nroatenmed">Ord. Atencion medica</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.ordenAtencionMedicaCompañia, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="nomaseg">Nombre de la Aseguradora</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.nombreAseguradoraCompañia, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="codaseg">Cod. del asegurado</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.codAseguradoCompañia, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
						<div class="row pb-3">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="poliza">Poliza</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.polizaCompañia, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="cboparentesco2">Parentesco</label>
									</div>
									<div class="col-sm-7">
										@Html.DropDownListFor(m => m.paciente.idParentescoCompañia, new SelectList(ViewBag.lparentesco, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="fechinivig">Inicio de vig.</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.inicioVigenciaCompañia, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="fechfinvig">Fin de vig.</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.finVigenciaCompañia, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="tpplansalud">Tip Plan de salud</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.tipoPlanSaludCompañia, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="nroplansalud">N° plan de salud</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.numeroPlanSaludCompañia, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">

							</div>
							<div class="col-sm-3">

							</div>
						</div>
					</div>
					<div id="actconvenio" class="card-body" style="display:none;">
						<div class="row pb-2">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="coberturacov">Cobertura</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.coberturaConvenio, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="ordatencioncov">Ord. Atencion medica</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.ordenAtencionMedicaConvenio, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="cboparentesco3">Parentesco</label>
									</div>
									<div class="col-sm-7">
										@Html.DropDownListFor(m => m.paciente.idParentesoConvenio, new SelectList(ViewBag.lparentesco, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="fechinicov">Inicio de vig.</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.inicioVigenciaConvenio, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
						<div class="row pb-3">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<label for="fechfincov">Fin de vig.</label>
									</div>
									<div class="col-sm-7">
										@Html.TextBoxFor(m => m.paciente.finVigenciaConvenio, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<a data-toggle="collapse" href="#collapsedatosempresa" role="button" aria-expanded="false" aria-controls="collapsedatosempresa">
				<div class="card card-primary">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 card-title">
								<h4>Empresa</h4>
							</div>
							<div class="col-sm-6 text-right">
								<i style="font-size: 30px;" class="fas fa-plus fx-5"></i>
							</div>
						</div>
					</div>
				</div>
			</a>
			<div class="card">
				<div class="collapse multi-collapse" id="collapsedatosempresa">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="nroruc">RUC</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.ruc, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="razsoc">Razon social</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.razonSocialEmpresa, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="estruc">Estado del RUC</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.estadoRucEmpresa, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="domfiscal">Domicilio fiscal</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.domicilioFiscalEmpresa, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<a data-toggle="collapse" href="#collapseacom" role="button" aria-expanded="false" aria-controls="collapseacom">
				<div class="card card-primary">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 card-title">
								<h4>Datos del acompañante</h4>
							</div>
							<div class="col-sm-6 text-right">
								<i style="font-size: 30px;" class="fas fa-plus fx-5"></i>
							</div>
						</div>
					</div>
				</div>
			</a>
			<div class="card">
				<div class="collapse multi-collapse" id="collapseacom">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="cbotipdocacom">Tipo de Doc</label>
									</div>
									<div class="col-sm-8">
										@Html.DropDownListFor(m => m.paciente.idTipoDocumentoAcompañante, new SelectList(ViewBag.ltipdoc, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="nrodocacom">Nro Doc.</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.numeroDocumentoAcompañante, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label>Buscar</label>
									</div>
									<div class="col-sm-8">
										<button class="btn btn-primary"><i class="fas fas-search"></i></button>
									</div>
								</div>
							</div>
							<div class="col-sm-3">

							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="apepatacom">Apellido paterno</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.apellidoPaternoAcompañante, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="apematacom">Apellido materno</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.apellidoMaternoAcompañante, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="firstnomacom">Primer nombre</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.NombreAcompañante, new { @class = "form-control" })
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="cboparentescoacom">Parentesco</label>
									</div>
									<div class="col-sm-8">
										@Html.DropDownListFor(m => m.paciente.idParentescoAcompañante, new SelectList(ViewBag.lparentesco, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })

									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm-4">
										<label for="edadacom">Edad</label>
									</div>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.paciente.edadAcompañante, new { @class = "form-control" })
									</div>
								</div>
							</div>
							<div class="col-sm-3">

							</div>
							<div class="col-sm-3">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-right pb-2">
			<button type="submit" class="btn btn-primary">Actualizar</button>
			<a asp-action="Index" asp-controller="Paciente" type="submit" class="btn btn-primary">Cerrar</a>
		</div>}
</div>
<script src="~/js/Mantenedor_Paciente.js"></script>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}