@model HistClinica.DTO.PersonaDTO

@{ ViewBag.Title = "ProgramarCitaAdmision";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="card card-primary">
                <div class="card-header">
                    <h1>Admision</h1>
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="padding-top:20px;">
        <div class="col-sm-12 pb-3">
            <span style="font-size: 18px;">Buscar por:</span>
            <div class="pl-3 form-check form-check-inline">
                <input class="form-check-input" type="radio" checked name="radiofiltro" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineRadio1">Por Dni</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radiofiltro" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">Por Nombre y apellido</label>
            </div>
        </div>
        <div class="col-sm-12">
            @using (Html.BeginForm())
            {
<div class="row">
    @Html.HiddenFor(m => m.paciente.idPaciente)
    <div class="col-sm-2">
        <select class="form-control">
            <option value="value">DNI</option>
        </select>
    </div>
    <div class="col-sm-2">
        <input type="text" id="dni" name="dni" class="form-control" />
    </div>
    <div class="col-sm-2">
        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese nombre" />
    </div>
    <div class="col-sm-2">
        <input type="text" id="apellidos" name="apellidos" class="form-control" placeholder="Ingrese apellidos" />
    </div>
    <div class="col-sm-4">
        <button class="btn btn-info" type="submit" id="btnBuscar"><i class="fas fa-search"></i></button>
        <a class="btn btn-primary" type="submit" asp-action="Create" asp-controller="Paciente"><i class="fas fa-user-plus"></i></a>
        @if (Model != null)
        {
<a class="btn btn-secondary" type="submit" asp-action="Edit" asp-controller="Paciente" asp-route-id="@Model.paciente.idPaciente"><i class="fas fa-edit"></i></a>}
    </div>
</div>}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="row pt-3">
                <div class="col-sm-4">
                    <label>Paciente</label>
                </div>
                <div class="col-sm-8">
                    <div class="divpac">
                        <label>@Html.DisplayFor(m => m.apellidoPaterno) @Html.DisplayFor(m => m.apellidoMaterno) @Html.DisplayFor(m => m.nombres) </label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-4">
                    <label>DNI</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.numeroDocumento, new { @class = "form-control", @disabled = "true" })
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-4">
                    <label>Correo</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.correo, new { @class = "form-control", @disabled = "true" })
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-4">
                    <label>Edad</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.edad, new { @class = "form-control", @disabled = "true" })
                </div>
            </div>
            <div class="row pb-2" style="padding-top: 10px;">
                <div class="col-sm-4">
                    <label>Ocupación</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.descripcionOcupacion, new { @class = "form-control", @disabled = "true" })
                </div>
            </div>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-sm-12">
            <button style="width: 112px; font-size: 15px;" class="btn btn-primary" onclick="CargaModalCitas();">Citas</button>
            <button style="width: 135px; font-size: 15px;" class="btn btn-primary">Orden</button>
            <button onclick="CargaConsultaCronograma();" style="width: 135px; font-size: 15px;" class="btn btn-primary">Cronograma</button>
        </div>
    </div>
    @if (ViewBag.message != null)
    {
<div class="col-sm-12 alert alert-info alert-dismissible text-center" id="success-alert" role="alert" style="margin-top: 15px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
    @ViewBag.message
</div>}
    <div class="row" style="padding-top: 80px;">
        <div class="col-sm-12">
            <table class="table table-bordered table-responsive table-hover" id="citagrid">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>N°</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Medico</th>
                        <th>Especialidad</th>
                        <th>Precio</th>
                        <th>IGV</th>
                        <th>Estado</th>
                        <th>Est.Pago</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @{ if (Model != null)
                                    {
                                        foreach (var item in Model.paciente.cita)
                                        {
                        <tr>
                            <td>@item.idCita</td>
                            <td>@item.nroCita</td>
                            <td>@item.TipoCita</td>
                            <td>@item.fecha</td>
                            <td>@item.hora</td>
                            <td>@item.consultorio</td>
                            <td>@item.descripcion</td>
                            <td>@item.medico</td>
                            <td>@item.especialidad </td>
                            <td>@item.precio</td>
                            <td>@item.igv</td>
                            <td>@item.descEstado</td>
                            <td>@item.descEstadoPago</td>
                            <td>@item.precio</td>
                            <td>
                                <button title="Reprogramar" class="edit btn btn-primary"><i class="fas fa-address-book"></i></button>
                                <button title="Consultar" class="detail btn btn-primary">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                                <button title="Anular" class="anular btn btn-danger">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr> }
                                    } }
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 text-right">
            <span style="margin-right:10px;">TOTAL DE VALOR VENTA - OPERACION GRAVADA</span><span>300</span><br />
            <span style="margin-right:10px;">IGV(18%)</span><span>54</span><br />
            <span style="margin-right:10px;">IMPORTE TOTAL</span><span>354</span>
        </div>
        <div class="col-sm-12" style="padding-top: 10px;">
            <div class="row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6 text-right">
                    <a asp-action="Pago" asp-controller="Paciente" class="btn btn-primary" style="width: 112px;font-size: 16px;">Pagar</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalcitas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>
<div class="modal fade" id="modalreprogramar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>

<div id="modalcronograma" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
</div>
<div id="modaldetallecro" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
</div>
<div id="modalanular" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
</div>
<div id="modaldetalle" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
</div>
<script src="~/js/cargavistaparcial.js"></script>
<script src="~/js/combosaninadoscitas.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}