@model HistClinica.Models.Especialidad

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Especialidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codEspecialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codEspecialidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codSigesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codSigesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codSubEspecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codSubEspecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descSubEspecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descSubEspecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idEspecialidad" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
