@model HistClinica.Models.Especialidad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Especialidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codEspecialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codEspecialidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codSigesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codSigesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codSubEspecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codSubEspecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descSubEspecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descSubEspecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idEspecialidad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
