@model IEnumerable<HistClinica.Models.Especialidad>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a type="submit" asp-action="Create"  class="btn btn-group">Registrar Especialidad</a>

    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codEspecialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codSigesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codSubEspecial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descSubEspecial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codSigesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codSubEspecial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descSubEspecial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idEspecialidad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idEspecialidad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idEspecialidad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
