@model HistClinica.DTO.PersonaDTO

@{
	ViewBag.Title = "Registro";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12 pb-2">
				<div class="card card-primary">
					<div class="card-header">
						<h2>Registro de personal</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="row">
				<div class="col-md-6">
					<div class="box box-primary">
						<div class="box-body">
							<div class="form-group">
								<label>TIPO DE EMPLEADO</label>
							</div>
							<div class="form-group">
								@Html.DropDownListFor(m => m.personal.idTipoEmpleado, new SelectList(ViewBag.lsttipoempleado, "idtab", "descripcion"), new { @class = "form-control", @id = "cboemple" })
							</div>
							<div class="form-group">
								<label for="txtNombres">PRIMER NOMBRE</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => (m.primerNombre), new { @class = "form-control" })
							</div>
							<div class="form-group">
								<label for="txtNombres">SEGUNDO NOMBRE</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => (m.segundoNombre), new { @class = "form-control" })
							</div>
							<div class="form-group">
								<label for="txtNroDocumento">DOCUMENTO DE IDENTIDAD</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.numeroDocumento, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.numeroDocumento, "", new { @class = "text-danger" })
							</div>
							<div class="form-group">
								<label for="txtcargo">CARGO</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.personal.cargo, new { @class = "form-control" })
							</div>
							<div class="form-group">
								<label for="txtTelefono">TELÉFONO</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.telefono, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
							</div>
							<div id="esp1" class="form-group">
								<label for="txtespecialidad">ESPECIALIDAD</label>
							</div>
							<div id="esp2" class="form-group">
								@Html.DropDownListFor(m => m.personal.idEspecialidad, new SelectList(ViewBag.listaespecialidades, "idtab", "descripcion"), new { @class = "form-control" })
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box box-primary">
						<div class="box-body">
							<div class="form-group">
								<label for="txtarea">AREA</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.personal.descArea, new { @class = "form-control" })
							</div>
							<div class="form-group">
								<label for="txtApPaterno">APELLIDO PATERNO</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => (m.apellidoPaterno), new { @class = "form-control" })
							</div>
							<div class="form-group">
								<label for="txtApPaterno">APELLIDO MATERNO</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => (m.apellidoMaterno), new { @class = "form-control" })
							</div>
							<div class="form-group">
								<label id="txtfecingresopersonal">FECHA NACIMIENTO</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.fecNacimiento, new { @class = "form-control", @type = "Date" })
							</div>
							<div class="form-group">
								<label id="txtfecingresopersonal">FECHA INGRESO</label>
							</div>
							<div class="form-group">
								@Html.TextBoxFor(m => m.personal.fechaIngreso, new { @class = "form-control", @type = "Date" })
							</div>
							<div id="ruc1" class="form-group">
								<label for="txtruc">N° DE RUC</label>
							</div>
							<div id="ruc2" class="form-group">
								@Html.TextBoxFor(m => m.ruc, new { @class = "form-control" })
							</div>
							<div id="col1" class="form-group">
								<label for="txtNroColegio">N° DE COLEGIO</label>
							</div>
							<div id="col2" class="form-group">
								@Html.TextBoxFor(m => m.personal.numeroColegio, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.personal.numeroColegio, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-0 p-0 pb-2">
				<div class="col-sm-12 text-right">
					<input type="submit" class="btn btn-primary" style="width: 112px;font-size: 16px;" value="Guardar">
				</div>
			</div>
		}
	</div>
</div>
<script src="~/js/ActionsPersona.js"></script>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}