
@model HistClinica.DTO.PersonaDTO
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width: 1200px;position: relative;right: 302px;">
			<button style="text-align:right" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="container">
				<div class="col-sm-12 text-center">
					<h4 class="modal-title" id="myModalLabel">Actualizar registro</h4>
				</div>
				<div class="col-sm-12 pt-4">
					@using (Html.BeginForm("Edit","Persona"))
					{
						<div class="row">
							<div class="col-md-6">
								<div class="box box-primary">
									@Html.HiddenFor(m => m.idPersona)
									<div class="box-body">
										<div class="form-group">
											<label>TIPO DE EMPLEADO</label>
										</div>
										<div class="form-group">
											@Html.DropDownListFor(m => m.idTipoEmpleado, new SelectList(ViewBag.lsttipoempleado, "idtpEmpleado", "Descripcion"), new { @class = "form-control" })
										</div>
										<div class="form-group">
											<label for="txtNombres">NOMBRES</label>
										</div>
										<div class="form-group">
											@Html.EditorFor(m => m.nombres, new { htmlAttributes = new { @class = "form-control" } })
										</div>
										<div class="form-group">
											<label for="txtNroDocumento">DOCUMENTO DE IDENTIDAD</label>
										</div>
										<div class="form-group">
											@Html.EditorFor(m => m.dni, new { htmlAttributes = new { @class = "form-control" } })
										</div>
										<div class="form-group">
											<label for="txtNroColegio">N° DE COLEGIO</label>
										</div>
										<div class="form-group">
											@Html.EditorFor(m => m.numeroColegio, new { htmlAttributes = new { @class = "form-control" } })
										</div>
										<div class="form-group">
											<label for="txtruc">N° DE RUC</label>
										</div>
										<div class="form-group">
											@Html.EditorFor(m => m.ruc, new { htmlAttributes = new { @class = "form-control" } })
										</div>
										<div class="form-group">
											<label for="txtespecialidad">ESPECIALIDAD</label>
										</div>
										<div class="form-group">
											@Html.DropDownListFor(m => m.idEspecialidad, new SelectList(ViewBag.listaespecialidades, "idEspecialidad", "descripcion"), new { @class = "form-control" })
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="box box-primary">
									<div class="box-body">
										<div class="form-group">
											<label for="txtarea">AREA</label>
										</div>
										<div class="form-group">
											@Html.EditorFor(m => m.area, new { htmlAttributes = new { @class = "form-control" } })
										</div>
										<div class="form-group">
											<label for="txtApPaterno">APELLIDOS</label>
										</div>
										<div class="form-group">
											@Html.EditorFor(m => m.apellidos, new { htmlAttributes = new { @class = "form-control" } })
										</div>
										<div class="form-group">
											<label id="txtfecingresopersonal">FECHA INGRESO</label>
										</div>
										<div class="form-group">
											@Html.EditorFor(m => m.fechaIngreso, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
										</div>
										<div class="form-group">
											<label for="txtcargo">CARGO</label>
										</div>
										<div class="form-group">
											@Html.EditorFor(m => m.cargo, new { htmlAttributes = new { @class = "form-control" } })
										</div>
										<div class="form-group">
											<label for="txtTelefono">TELÉFONO</label>
										</div>
										<div class="form-group">
											@Html.EditorFor(m => m.telefono, new { htmlAttributes = new { @class = "form-control" } })
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row m-0 p-0 pb-2">
							<div class="col-sm-12 text-right">
								<input type="submit" class="btn btn-primary" style="width: 112px;font-size: 16px;" value="Guardar">
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>

