@model IEnumerable<HistClinica.DTO.PersonaDTO>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="card card-primary">
					<div class="card-header">
						<h2>Gestion de personal</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12" style="padding-top:50px;">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<label>
							Nombre:
						</label>
					</div>
					<div class="col-sm-12 form-inline">
						<input onkeydown="buscar(event)" type="text" id="txtnom" name="name" value="" class="form-control" style="width:200px;" />
						<button type="submit" onclick="getByNombre();" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12" style="padding-top: 30px;">
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6 text-right" style="padding-bottom: 10px">
				<a asp-controller="Persona" asp-action="Create" class="btn btn-primary" style="width: 152px;font-size: 16px;">Agregar Personal</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="box-body table-responsive">
			<table class="table table-striped table-hover text-center" id="personalgrid">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nombres</th>
						<th>Apellido</th>
						<th>Fecha Ingreso</th>
						<th>Teléfono</th>
						<th>Cargo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
					<tr>
						<td>@item.idPersona</td>
						<td>@item.primerNombre + @item.segundoNombre</td>
						<td>@item.apellidoPaterno + " " + @item.apellidoMaterno</td>
						<td>@item.fechaIngreso</td>
						<td>@item.telefono</td>
						<td>@item.cargo</td>
						<td>
							<button title="Editar" type="submit" onclick="CargarmodalPersona();" class="edit btn btn-primary"><i class="fas fa-edit"></i></button>
							<button title="Asignar" type="submit" class="edit btn btn-primary" data-target="#modalasignar" data-toggle="modal"><i class="fas fa-id-badge"></i></button>
							<a type="submit" asp-action="DeleteConfirmed" asp-route-id="@item.idPersona" class="btn btn-danger"><i class="fas fa-minus"></i></a>
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modalestado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button style="text-align:right;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="col-sm-12 text-center" style="padding-bottom: 10px;">
                    <h2 id="exampleModalLabel">Aviso!</h2>
                </div>
                <div class="col-sm-12 text-center" style="padding-top: 10px; padding-bottom:10px;">
                    <h4>¿Desea cambiar el estado del personal?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button style="width: 80px;" type="button" id="btnaceptar" class="btn btn-primary">Si</button>
                <button style="width: 80px;" type="button" data-dismiss="modal" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalasignar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 1200px;position: relative;right: 302px;">
            <div class="container">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 style="text-align: left">Asignar Usuario</h2>
                        </div>
                    </div>
                </div>

            </div>


            <div class="container">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>CODIGO</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="txtCodigo" Text="" class="form-control" size="60" maxlength="60">
                                    </div>
                                    <div class="form-group">
                                        <label>TIPO</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="txtTipo" Text="" class="form-control" size="60" maxlength="60">
                                    </div>
                                    <div class="form-group">
                                        <label>ID</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="txtId" Text="" class="form-control" size="60" maxlength="60">
                                    </div>
                                    <div class="form-group">
                                        <label>CLAVE </label>
                                    </div>
                                    <div class="form-group">
                                        <input ID="txtClave" Text="" class="form-control" size="60" maxlength="60">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>ESTADO</label>
                                    </div>
                                    <div class="form-group">
                                        <select ID="ddlEstado" class="form-control" style="width: 520px">
                                            <option value="masculino">Activo</option>
                                            <option value="femenino">Inactivo</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>MODULO</label>
                                    </div>
                                    <div class="form-group">
                                        <select ID="ddlModulo" class="form-control" style="width: 520px">
                                            <option value="masculino">Programacion de Citas</option>
                                            <option value="femenino">Inactivo</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>PERMISOS</label>
                                    </div>
                                    <div class="form-group">
                                        <select ID="ddlPermisos" class="form-control" style="width: 520px">
                                            <option value="masculino">Programacion de Citas</option>
                                            <option value="masculino">Reportes</option>
                                            <option value="masculino">Gestion de Personal</option>
                                        </select>
                                    </div>

                                </div>
                                <div align="center" style="padding-bottom: 20px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary" Width="400px">Agregar</button>
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" Width="400px">Desagregar</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div align="right" style="padding-bottom: 20px;">
                    <table>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary" style="width: 112px;font-size: 16px;">Guardar </button>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>

                            <td>
                                <button type="button" class="btn btn-dark" style="width: 112px;font-size: 16px;">Salir</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>
<script src="~/js/cargavistaparcial.js"></script>

