@model IEnumerable<HistClinica.DTO.PersonaDTO>

@{
    ViewData["Title"] = "Index";
}

	<div class="container">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="card card-primary">
						<div class="card-header">
							<h2>Gestion de personal</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12" style="padding-top:50px;">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-12">
							<label>
								Nombre:
							</label>
						</div>
						<div class="col-sm-12 form-inline">
							<input onkeydown="buscar(event)" type="text" id="txtnom" name="name" value="" class="form-control" style="width:200px;" />
							<button type="submit" onclick="getByNombre();" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12" style="padding-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6 text-right" style="padding-bottom: 10px">
					<a asp-controller="Persona" asp-action="Create" class="btn btn-primary" style="width: 152px;font-size: 16px;">Agregar Personal</a>
				</div>
			</div>
		</div>
		@if (ViewBag.message != null)
		{
			<div class="col-sm-12 alert alert-info alert-dismissible text-center" role="alert" style="margin-top: 15px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
				@ViewBag.message
			</div>
		}
		<div class="col-sm-12">
			<div class="box-body table-responsive">
				<table class="table table-striped table-hover text-center" id="personalgrid">
					<thead>
						<tr>
							<th>Código</th>
							<th>Nombres</th>
							<th>Apellido</th>
							<th>Fecha Ingreso</th>
							<th>Teléfono</th>
							<th>Cargo</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.idPersona</td>
								<td>@item.primerNombre</td>
								<td>@item.apellidoPaterno</td>
								<td>@item.personal.fechaIngreso</td>
								<td>@item.telefono</td>
								<td>@item.personal.cargo</td>
								<td>
									<button title="Editar" type="submit" onclick="CargarmodalPersona();" class="edit btn btn-primary"><i class="fas fa-edit"></i></button>
									<button title="Asignar" type="submit" class="asig btn btn-primary" onclick="CargarModalAsignarUsuario()"><i class="fas fa-id-badge"></i></button>
									<button title="Eliminar" type="submit" onclick="CargarModalDeletePersona();" class="delete btn btn-danger"><i class="fas fa-minus"></i></button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

<div class="modal fade" id="modalestado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button style="text-align:right;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="col-sm-12 text-center" style="padding-bottom: 10px;">
                    <h2 id="exampleModalLabel">Aviso!</h2>
                </div>
                <div class="col-sm-12 text-center" style="padding-top: 10px; padding-bottom:10px;">
                    <h4>¿Desea cambiar el estado del personal?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button style="width: 80px;" type="button" id="btnaceptar" class="btn btn-primary">Si</button>
                <button style="width: 80px;" type="button" data-dismiss="modal" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalasignar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>
<div class="modal fade" id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>
<div class="modal fade" id="modaldeletepersona" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>
<script src="~/js/cargavistaparcial.js"></script>

