@model HistClinica.Models.D012_CRONOMEDICO

@using (Html.BeginForm("Create","Cronograma"))
{
	<div class="row pb-2">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Medico</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.idMedico, new SelectList(ViewBag.listamedicos, "idMedico", "nombres"), "Seleccione", new { @class = "form-control" ,
				   data_cascade_combo = "#stypes",
				   data_cascade_combo_source = Url.Action("GetEspecialidad", "Cronograma"),
				   data_cascade_combo_param_name = "id"
			   })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Especialidad</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.idEspecialidad, new SelectList(ViewBag.listaespecialidades, "idtab", "descripcion"), new { @class = "form-control", id = "stypes" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Consultorio</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.idConsultorio, new SelectList(ViewBag.listaconsultorio, "idtab", "descripcion"), new { @class = "form-control" })
				</div>
			</div>
		</div>
	</div>
	<div class="row pb-2">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Fecha Inicio</label>
				</div>
				<div class="col-sm-8">
					@Html.TextBoxFor(m => m.fechaIni, new { @class = "form-control", @type = "Date" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Fecha Fin</label>
				</div>
				<div class="col-sm-8">
					@Html.TextBoxFor(m => m.fechaFin, new { @class = "form-control", @type = "Date" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Hora Inicio</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.hrInicio, new SelectList(ViewBag.listahoras), new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-4 pt-2">
			<div class="row">
				<div class="col-sm-4">
					<label>Hora Fin</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.hrFin, new SelectList(ViewBag.listahoras), new { @class = "form-control" })
				</div>
			</div>
		</div>
	</div>
	<div class="row pb-2 text-right">
		<div class="col-sm-12">
			<button class="btn btn-primary">Guardar</button>
		</div>
	</div>
}
<script src="~/js/comboaninado.js"></script>