@model HistClinica.Models.CronoMedico

@using (Html.BeginForm("Create","Cronograma"))
{
	<div class="row pb-2">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Medico</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.idMedico, new SelectList(ViewBag.listamedicos, "idMedico", "nombres"), "Seleccione", new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Especialidad</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.idEspecialidad, new SelectList(ViewBag.listaespecialidades, "idEspecialidad", "descripcion"), new { @class = "form-control" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Consultorio</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.idConsultorio, new SelectList(ViewBag.listaconsultorio, "idConsultorio", "descripcion"), new { @class = "form-control" })
				</div>
			</div>
		</div>
	</div>
	<div class="row pb-2">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Fecha</label>
				</div>
				<div class="col-sm-8">
					@Html.TextBoxFor(m => m.fecProgramMedica, new { @class = "form-control", @type = "Date" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Hora Inicio</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.dsHrInicio, new SelectList(ViewBag.listahoras), new { @class = "form-control" })

				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Hora Fin</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.dsHrFin, new SelectList(ViewBag.listahoras), new { @class = "form-control" })
				</div>
			</div>
		</div>
	</div>
	<div class="row pb-2">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Estado</label>
				</div>
				<div class="col-sm-8">
					<select asp-for="dsEstado" class="form-control">
						<option>Activo</option>
						<option>Inactivo</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
		</div>
	</div>
	<div class="row pb-2 text-right">
		<div class="col-sm-12">
			<button class="btn btn-primary">Guardar</button>
		</div>
	</div>
}
