@model HistClinica.Models.D012_CRONOMEDICO

@using (Html.BeginForm("Create", "Cronograma", FormMethod.Post, new { @id = "frmcrearcronograma" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="row pb-2">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Medico</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.idMedico, new SelectList(ViewBag.listamedicos, "idMedico", "nombres"), "Seleccione", new
					{
						@class = "form-control",
				   data_cascade_combo = "#stypes",
				   data_cascade_combo_source = Url.Action("GetEspecialidad", "Cronograma"),
				   data_cascade_combo_param_name = "id"
			   })
					@Html.ValidationMessageFor(model => model.idMedico, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Especialidad</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.idEspecialidad, new SelectList(ViewBag.listaespecialidades, "idtab", "descripcion"), "Seleccione", new { @class = "form-control", id = "stypes" })
					@Html.ValidationMessageFor(model => model.idEspecialidad, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Consultorio</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.idConsultorio, new SelectList(ViewBag.listaconsultorio, "idtab", "descripcion"), "Seleccione", new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.idConsultorio, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
	</div>
	<div class="row pb-2">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Fecha Inicio</label>
				</div>
				<div class="col-sm-8">
					@Html.TextBoxFor(m => m.fechaIni, new { @class = "form-control", @type = "Date" })
					@Html.ValidationMessageFor(model => model.fechaIni, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Fecha Fin</label>
				</div>
				<div class="col-sm-8">
					@Html.TextBoxFor(m => m.fechaFin, new { @class = "form-control", @type = "Date" })
					@Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-4">
					<label>Hora Inicio</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.hrInicio, new SelectList(ViewBag.listahoras), "Seleccione", new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.hrInicio, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="col-sm-4 pt-2">
			<div class="row">
				<div class="col-sm-4">
					<label>Hora Fin</label>
				</div>
				<div class="col-sm-8">
					@Html.DropDownListFor(m => m.hrFin, new SelectList(ViewBag.listahoras), "Seleccione", new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.hrFin, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
	</div>
	<div class="row pb-2 text-right">
		<div class="col-sm-12">
			<button class="btn btn-primary" id="Crear">Guardar</button>
		</div>
	</div>
}
<script src="~/js/comboaninado.js"></script>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}