@model IEnumerable<HistClinica.Models.CronoMedico>
@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12 pt-2 pb-3">
				<h2>Cronograma de Medicos</h2>
			</div>
		</div>


		<partial name="Create" model="new HistClinica.Models.CronoMedico()">

			<div class="row pt-3">
				<div class="col-sm-12">
					<table class="table table-bordered table-hover text-center" id="cronogramagrid">
						<thead>
							<tr>
								<th>Id</th>
								<th>Fecha</th>
								<th>Hora ini</th>
								<th>Hora fin</th>
								<th>Estado</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>@item.idProgramMedica</td>
									<td>@item.fecProgramMedica</td>
									<td>@item.dsHrInicio</td>
									<td>@item.dsHrFin</td>
									<td>@item.dsEstado</td>
									<td>
										<button type="submit" class="edit btn btn-primary" onclick="Cargarmodal();"><i class="fas fa-edit"></i></button>
										<a type="submit" asp-action="Delete" asp-route-id="@item.idProgramMedica" class="btn btn-danger"><i class="fas fa-minus"></i></a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
	</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<script src="~/js/cargavistaparcial.js"></script>
