@*@model HistClinica.Models.T068_CITA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>T068_CITA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nroCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nroCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ultCie10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ultCie10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.servicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.servicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tpAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tpAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nroHC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nroHC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEstadoCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstadoCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEstaGralPac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstaGralPac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estadoReprogram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estadoReprogram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ejecutado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ejecutado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prioridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prioridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.coa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.coa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.igv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.igv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idConsultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idConsultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idProgramMedica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idProgramMedica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idTpAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idTpAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEstAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstAtencion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idCita">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
