@*@model IEnumerable<HistClinica.Models.T068_CITA>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nroCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ultCie10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tpAtencion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nroHC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEstadoCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEstaGralPac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoReprogram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ejecutado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prioridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.igv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idConsultorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idProgramMedica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTpAtencion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEstAtencion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nroCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ultCie10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.servicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tpAtencion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nroHC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEstadoCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEstaGralPac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoReprogram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ejecutado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.coa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.igv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idConsultorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idProgramMedica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTpAtencion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEstAtencion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCita">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idCita">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idCita">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
