@model IEnumerable<HistClinica.Models.D00_TBDETALLE>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">Gestion de Tipos</h1>

<h4>
</h4>
<h4>
</h4>

<form method="post" class="mb-2"
      style="display:grid;grid-template-columns:1fr 2fr 1fr 1fr" id="frmFormulario">

    <label> Ingresar Codigo:</label>
    <input type="text" id="nombre" class="form form-control" name="coddetTab" />
    <input type="submit" value="Buscar" class="btn btn-primary" />

</form>
<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.coddetTab)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.coddetTab)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Editar" asp-route-id="@item.idDet">Editar</a>
                        <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.idDet">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-danger" asp-action="Agregar">Agregar</a>
</div>

