@model List<HistClinica.Models.D00_TBGENERAL>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="col-sm-12 pb-5">
		<h1 align="center">Gestion de Tipos</h1>
	</div>
	<div class="col-sm-12">
		@using (Html.BeginForm())
		{
			<div class="row">
				<div class="col-sm-8 form-inline">
					<label class="pr-2">Codigo:</label>
					<input type="text" id="codigo" class="form form-control" name="codigo" />

					<label class="pl-3 pr-2">Descripcion:</label>
					<input type="text" id="descripcion" class="form form-control" name="descripcion" />
					<input type="submit" value="Buscar" class="pl-2 btn btn-primary" />
				</div>
				<div class="col-sm-4">

				</div>
			</div>
		}
	</div>
</div>
@if (ViewBag.message != null)
{
	<div class="col-sm-12 alert alert-info alert-dismissible text-center" id="success-alert" role="alert" style="margin-top: 15px;">
		<button type="button" class="close" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
		@ViewBag.message
	</div>
}
<div class="container">
	<div class="col-sm-12 text-right pt-4">
		<a type="submit" style="color:white;" class="btn btn-primary" onclick="cargarmodalCrearTipo();">Crear</a><br /><br />
	</div>
	<div class="col-sm-12">
		<table class="table table-bordered table-hover" id="generalgrid">
			<thead>
				<tr>
					<th style="visibility:hidden;">
						Id
					</th>
					<th>
						Codigo
					</th>
					<th>
						Descripcion
					</th>
					<th>
						Acciones
					</th>
				</tr>
			</thead>
			<tbody class="tbody">
				@foreach (var item in Model)
				{
					<tr>
						<td style="visibility:hidden;">@item.idTab</td>
						<td>@item.codTab</td>
						<td>@item.descripcion</td>
						<td>
							<a type="submit" style="color:white;" class="edit btn btn-primary" aria-hidden="true">
								<i class="fas fa-edit"></i>
							</a>
							@Html.ActionLink("Detalle", "VistaDetalle", new { id = item.idTab }, new { @class = "btn btn-primary fas fa-search" })
							<a type="submit" style="color:white;" class="delete btn btn-danger" aria-hidden="true">
								<i class="fas fa-minus"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<div class="modal fade" id="modalagregartipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<div class="modal fade" id="modaleditartipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<div class="modal fade" id="modalanulartipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<script src="~/js/cargavistaparcial.js"></script>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}