@model HistClinica.DTO.DetalleDTO
@{
	ViewData["Title"] = "Actualizar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="col-sm-12 pb-2">
		@Html.ActionLink("Volver", "Index")
	</div>
	<div class="col-sm-12 pb-3">
		<h1>Actualizar Tipo</h1>
	</div>
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-6 form-inline">
				<label> Codigo:</label>
				@Html.HiddenFor(m => m.idTab)
				@Html.EditorFor(m => m.codTab, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
			</div>
			<div class="col-sm-6">

			</div>
		</div>
	</div>
</div>

@if (ViewBag.message != null)
{
	<div class="col-sm-12 alert alert-info alert-dismissible text-center" role="alert" style="margin-top: 15px;">
		<button type="button" class="close" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
		@ViewBag.message
	</div>
}

<div class="container">
	<div class="col-sm-12 text-right pt-4">
		<a type="submit" style="color:white;" class="btn btn-primary" onclick="cargarmodalCrearDetalle()">Crear</a><br /><br />
	</div>
	<div class="col-sm-12">
		<table class="table table-bordered table-hover" id="detallegrid">
			<thead>
				<tr>
					<th style="visibility:hidden;">
						Id
					</th>
					<th>
						Codigo
					</th>
					<th>
						Descripcion
					</th>
					<th>
						Acciones
					</th>
				</tr>
			</thead>
			<tbody class="tbody">
				@foreach (var item in Model.ldetalle)
				{
					<tr>
						<td style="visibility:hidden;">@item.idDet</td>
						<td>@item.coddetTab</td>
						<td>@item.descripcion</td>
						<td>
							<a style="color:white;" type="submit" class="edit btn btn-primary" aria-hidden="true">
								<i class="fas fa-edit"></i>
							</a>
							<a style="color:white;" type="submit" class="delete btn btn-danger" aria-hidden="true">
								<i class="fas fa-minus"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<div class="modal fade" id="modalagregardetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<div class="modal fade" id="modaleditardetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<div class="modal fade" id="modalanulardetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<script src="~/js/cargavistaparcial.js"></script>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

